<section id="hero">
  <div class="container intro-bg">
    <div class="row">
      	<div class="text-center">
      		<img src="{{ theme:img src="jm_badge_large.png" }}" alt="Jonathan Mulkey Design">
      	</div>
    </div>
  </div>
</section>

<!--Message Section-->
    <section id="message">
      <div class="container">
        <div class="row margin-40">
          <div class="span12 text-center">
            <h2>Jonathan Mulkey is a designer based in Chattanooga, TN. He specializes in branding, web, photography and print design. He helps businesses solve problems and communicate ideas using graphic design and media technology. He believes that exceptional design, content strategy and user experience are important elements for every brand, and he likes to work with others who hold the same values.</h2>
          </div>
        </div>
      </div>
    </section>
    
    <!--Latest Work-->
    <section id="latest-work">
      <div class="container text-center">
        <div class="row">
          <div class="span12 margin-40">
            <h3>Recent Work</h3>
            <p>Take a look at some of my recent projects and read a little about what went into each one.</p>
          </div>
        </div>  
          
        <div class="row margin-40">
      		
      		{{ entries:listing folder="work" limit="3" }}
			 <div class="span4">
      			<div class="thumbs">
      				<img src="{{ transform src="{{ main_image }}" width="430" }}" alt="{{ title }}">
        			<!-- <img src="{{ main_image }}" alt="{{ title }}"> -->
        			<a href="{{ url }}">
        				<span class="title">
        					<span>View Project</span>
        				</span>	
        			</a>
      			</div>
      			<div class="project-title margin-30">
      		    <h4>{{ title }}</h4>
      		  </div>
      		</div>
			{{ /entries:listing }}
			
        </div>
        
        <div class="row margin-40">
			
			{{ entries:listing folder="work" limit="3" offset="3" }}
			 <div class="span4">
      			<div class="thumbs">
      				<img src="{{ transform src="{{ main_image }}" width="430" }}" alt="{{ title }}">
        			<!-- <img src="{{ main_image }}" alt="{{ title }}"> -->
        			<a href="{{ url }}">
        				<span class="title">
        					<span>View Project</span>
        				</span>	
        			</a>
      			</div>
      			<div class="project-title margin-30">
      		    <h4>{{ title }}</h4>
      		  </div>
      		</div>
			{{ /entries:listing }}
      		
        </div><!--End Row of Work-->
        
        <div class="row margin-40">
			
			{{ entries:listing folder="work" limit="3" offset="6" }}
			 <div class="span4">
      			<div class="thumbs">
      				<img src="{{ transform src="{{ main_image }}" width="430" }}" alt="{{ title }}">
        			<!-- <img src="{{ main_image }}" alt="{{ title }}"> -->
        			<a href="{{ url }}">
        				<span class="title">
        					<span>View Project</span>
        				</span>	
        			</a>
      			</div>
      			<div class="project-title margin-30">
      		    <h4>{{ title }}</h4>
      		  </div>
      		</div>
			{{ /entries:listing }}

      {{ entries:listing folder="work" limit="3" offset="9" }}
       <div class="span4">
            <div class="thumbs">
              <img src="{{ transform src="{{ main_image }}" width="430" }}" alt="{{ title }}">
              <!-- <img src="{{ main_image }}" alt="{{ title }}"> -->
              <a href="{{ url }}">
                <span class="title">
                  <span>View Project</span>
                </span> 
              </a>
            </div>
            <div class="project-title margin-30">
              <h4>{{ title }}</h4>
            </div>
          </div>
      {{ /entries:listing }}

      {{ entries:listing folder="work" limit="3" offset="12" }}
       <div class="span4">
            <div class="thumbs">
              <img src="{{ transform src="{{ main_image }}" width="430" }}" alt="{{ title }}">
              <!-- <img src="{{ main_image }}" alt="{{ title }}"> -->
              <a href="{{ url }}">
                <span class="title">
                  <span>View Project</span>
                </span> 
              </a>
            </div>
            <div class="project-title margin-30">
              <h4>{{ title }}</h4>
            </div>
          </div>
      {{ /entries:listing }}
      		
        </div><!--End Row of Work-->
        
        <!--<div class="container text-center">
        <div class="row">
          <div class="span12 margin-40">
            <p>Want to see more?</p>
            <h3><a href="{{ path='/portfolio' }}">View my portfolio page</a></h3>
          </div>
        </div> -->
        		
      </div>
    </section>
    
    <section id="content1">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h3>Profile</h3>
            <p>For more than a decade, the focus of my work has been strategic brand-building using a wide spectrum of media including web, print, video and photography. After earning a BFA in graphic design at the University of Tennessee, Knoxville, my professional experience has allowed me to develop the technical skills needed for today's media. I enjoy being involved in every aspect of brand, web and application development. I work with a small network of talented designers, copywriters, developers, photographers and marketing professionals that help me get the job done, and I am always looking for new talent to collaborate with. A research-driven process allows me to manage projects from concept to completion, ensuring that the end result is successful and meets the business and creative objectives.</p>
            <p>I currently work from my home office in Chattanooga with my lovely wife and daughter (and two dogs). I have plenty of hobbies that give me a break from my computer including mountain biking, running, disc golf, backpacking, rowing and too many others to list.</p>
          </div>
        </div>
        
        <div class="row-fluid">
        	<div class="span12">
        		 <h3>What I do</h3>
        	
          
		    <div class="span5 margin-10">
		    
		    <h4>Identity</h4>
            	<p>Most successful brand experiences begin with a well planned identity system. The logo is the central visual element that helps customers discover and remember a company's brand. However, most of the time, a single logo is often not enough. An identity system is a complete visual package built around the logo. It is often paired with style guidelines to help ensure that the brand image is cohesive and consistent.</p>
				<ul>
					<li>Logo design</li>
					<li>Icon systems</li>
					<li>Typographic style guides</li>
					<li>Color style guides</li>
					<li>Signage design</li>
					<li>Stationary design</li>
					<li>Packaging</li>
					<li>Website style tiles</li>
					<li>Brand monitoring</li>
					<li>Rebranding</li>
				</ul>
           
            <h4>Web Development</h4>
            	<p>These are a few of the tools and methods that I use to build powerful websites that are easy to use, future-friendly and successful in getting readers to take action.</p>
				<ul>
					<li>UI / UX design and testing strategy</li>
					<li>Rapid prototyping and wireframing</li>
					<li>HTML 5 &amp; CSS 3</li>
					<li>Responsive, mobile-first web design</li>
					<li>Javascript</li>
					<li>PHP &amp; MySQL</li>
					<li>ExpressionEngine CMS</li>
					<li>Statamic CMS</li>
					<li>WordPress</li>
					<li>Domain name, hosting and server management</li>
				</ul>
            
            
          </div>
          
          <div class="span5 offset1 margin-10">
          	<h4>Content Strategy</h4>
				<p>If you need help putting together content for your project, I have connections with some great copywriters.</p>
				<ul>
					<li>Information architecture</li>
					<li>Professional copywriting</li>
					<li>Editorial, proofreading, revision services</li>
					<li>Headlining and creation of product/service names</li>
				</ul>
          
          	<h4>Photography &amp; Video</h4>
          		<p>I have many years of experience with dSLR photography and I also work with other professional photographers. If you need photo and video production, I can effectively manage it for you.</p>
          		<ul>
          			<li>Canon EOS cameras and lenses</li>
          			<li>GoPro video</li>
          			<li>Lighting and set design</li>
          			<li>Audio recorders and microphones</li>
          			<li>DVD authoring</li>
          			<li>Online video and photo publishing</li>
          		</ul>
            <h4>Print</h4>
            	<p>Over the years, I’ve developed a solid understanding of the printing process and I have worked with commercial printers of all types and sizes.</p>
            	<ul>
            		<li>Experience with small and large format commercial printing processes</li>
            		<li>Digital printing</li>
            		<li>Offset printing</li>
            		<li>Letterpress</li>
            		<li>Screen printing</li>  
            	</ul>
            </div>
          </div>
        </div>
        <!--End Row-->
          
        
      </div>
    </section>