<section id="content1">
  <div class="container">
  
    <div class="row">
      <div class="span12">
        <h3>{{ title }}</h3>
      </div>
    </div>
    <div class="row margin-40">
      <div class="span8">
        {{ description }}
      </div>
      <div class="span4">
        <!--<h4>Services provided:</h4>
        <p>branding / photography / web design</p><br />-->
        {{ if live_url }}
        <a class="btn-main" href="http://{{ live_url }}"><i class="icon-chevron-right"></i> Launch</a>
        {{ endif }}
      </div>
    </div>
    <div class="row">
      <div class="span12 margin-40">
		    {{ gallery }}
		    	<div class="project-title"><h4>{{ title }}<h4></div>
		        <img src="{{ transform src="{{ img }}" width="800" }}">
		    {{ /gallery }}
      </div>
    </div>
    <div class="row">
      <div class="span12 text-center">
        	<a class="btn-main" href="{{ homepage }}#latest-work"><i class="icon-chevron-sign-left"></i> Back To Portfolio</a>
      </div>
    </div>
  </div>
</section>