<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ homepage }}"><img src="{{ theme:img src="jm-badge.png" }}" alt="logo" width="50"> jmulkey.com</a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li><a href="{{ _site_root }}#top">Home</a></li>
          <li><a href="{{ _site_root }}#latest-work">Work</a></li>
          <li><a href="{{ _site_root }}#content1">About</a></li>
          <li><a href="{{ _site_root }}#bottom">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>