<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>{{ _site_name }}</title>
  <meta name="keywords" content="web design, UI, user interface, branding, identity, logo, photography, video, Chattanooga">
  <meta name="description" content="Jonathan Mulkey is a UI designer based in Chattanooga, TN.">
  <meta name="viewport" content="width=device-width">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ theme:css src='font-awesome.min' }}">
  <link rel="stylesheet" href="{{ theme:css src='animate' }}">
  
  <script type="text/javascript" src="//use.typekit.net/ocg0fxs.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <link rel="stylesheet" href="{{ theme:css src='bootstrap.min' }}">
  <link rel="stylesheet" href="{{ theme:css src='main' }}">
  <link rel="stylesheet" href="{{ theme:css src='custom-styles' }}">
  
  <script src="{{ theme:js src='modernizr-2.6.2-respond-1.1.0.min' }}"></script>

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ theme:img src="apple-touch-icon-144-precomposed.png" }}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ theme:img src="apple-touch-icon-114-precomposed.png" }}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ theme:img src="apple-touch-icon-72-precomposed.png" }}">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ theme:img src="apple-touch-icon-57-precomposed.png" }}">
  <link rel="shortcut icon" href="{{ theme:img src="favicon.ico" }}">
</head>

<body id="top" data-spy="scroll" data-target=".navbar">
        
    {{ theme:partial src="nav" }}
  
    {{ layout_content }}

    <!--Bottom Section-->
    <section id="bottom">
      <div class="container">
        <div class="row margin-40">
          <div class="span10 offset1 text-center">
            <h3>Get in touch.</h3>
            <p><a href="mailto:{{ obfuscate }}shout@jmulkey.com{{ /obfuscate }}?subject=jmulkey.com%20Contact%20Form"><i class="icon-envelope-alt"></i> shout [at] jmulkey.com</a></p>
          </div>
        </div>
        
        <div class="row">
          <div class="span10 offset1 text-center">
            <!--Social Icons-->          
            <ul class="social-icons">
            	<li><a class="dribbble" href="http://dribbble.com/jmulkey" target="_blank"><i class="icon-dribbble icon-3x"></i></a></li>
				<li><a class="twitter" href="http://www.twitter.com/jmulkey" target="_blank"><i class="icon-twitter icon-3x"></i></a></li>
				<li><a class="flickr" href="http://www.flickr.com/photos/gradientstudio/" target="_blank"><i class="icon-flickr icon-3x"></i></a></li>
				<li><a class="facebook" href="http://www.facebook.com/jonathan.mulkey" target="_blank"><i class="icon-facebook icon-3x"></i></a></li>
				<li><a class="instagram" href="http://www.instagram.com/jmulkey" target="_blank"><i class="icon-camera-retro icon-3x"></i></a></li>
				<li><a class="linkedin" href="http://www.linkedin.com/in/jonathanmulkey" target="_blank"><i class="icon-linkedin icon-3x"></i></a></li>
			</ul>
          </div>
        </div>
        
      </div>
    </section>
    
    
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="span12 text-center">
            <p>Jonathan Mulkey Design @ Copyright {{ current_date format="Y" }}. All Rights Reserved.</p>
            <p>Built with <a href="http://www.statamic.com">Statamic</a></p>
          </div>
        </div>
      </div>
    </section>
      
    
    <a href="#top" class="scrollToTop"><i class="icon-chevron-up"></i></a>
    
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ theme:js src='jquery-1.9.1.js' }}"><\/script>')</script>
    <script src="{{ theme:js src='bootstrap.min.js' }}"></script>
    <script src="{{ theme:js src='main.js' }}"></script>
    <script src="{{ theme:js src='rotate.js' }}"></script>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-45905329-1', 'jmulkey.com');
	  ga('send', 'pageview');
	
	</script>
   
    </body>
</html>