<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>{{ _site_name }}</title>
  <meta name="keywords" content="web design, UI, user interface, branding, identity, logo, photography, video, Chattanooga">
  <meta name="description" content="Jonathan Mulkey is a UI designer based in Chattanooga, TN.">
  <meta name="viewport" content="width=device-width">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ theme:css src='font-awesome.min' }}">
  <link rel="stylesheet" href="{{ theme:css src='animate' }}">
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//use.typekit.net/ocg0fxs.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <link rel="stylesheet" href="{{ theme:css src='bootstrap.min' }}">
  <link rel="stylesheet" href="{{ theme:css src='main' }}">
  <link rel="stylesheet" href="{{ theme:css src='custom-styles' }}">

  <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="{{ theme:img src="favicon.png" }}">
</head>

<body id="top" data-spy="scroll" data-target=".navbar">
        
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ homepage }}"><img src="{{ theme:img src="jm-badge.png" }}" alt="logo" width="50"></a>
          <div class="nav-collapse in collapse">
            <ul class="nav pull-right">
              <li><a class="scroll" href="{{ _site_root }}/#top">Home</a></li>
              <li><a class="scroll" href="{{ _site_root }}/#latest-work">Work</a></li>
              <li><a class="scroll" href="{{ _site_root }}/#content1">About</a></li>
              <li><a class="scroll" href="{{ _site_root }}/#content2">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  
    {{ layout_content }}

    <!--Bottom Section-->
    <section id="bottom">
      <div class="container">
        <div class="row margin-40">
          <div class="span10 offset1 text-center">
            <p><a href="mailto:{{ support_email }}"><i class="icon-envelope-alt"></i> {{ support_email }}</a></p>
            <hr>
          </div>
        </div>
        
        <div class="row">
          <div class="span10 offset1 text-center">
            <!--Social Icons-->          
            <ul class="social-icons">
    					<li><a class="twitter" href="http://www.twitter.com/jmulkey" target="_blank"><i class="icon-twitter icon-3x"></i></a></li>
    					<li><a class="facebook" href="http://www.facebook.com/jonathan.mulkey" target="_blank"><i class="icon-facebook icon-3x"></i></a></li>
    					<li><a class="instagram" href="http://www.instagram.com/jmulkey" target="_blank"><i class="icon-camera-retro icon-3x"></i></a></li>
    					<li><a class="linkedin" href="http://www.linkedin.com/in/jonathanmulkey" target="_blank"><i class="icon-linkedin icon-3x"></i></a></li>
    				</ul>
          </div>
        </div>
        
      </div>
    </section>
    
    
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="span12 text-center">
            <p>Jonathan Mulkey Design @ Copyright 2013. All Rights Reserved.</p>
            <p>Built with <a href="http://www.statamic.com">Statamic</a></p>
          </div>
        </div>
      </div>
    </section>
      
    
    <a href="#top" class="scrollToTop"><i class="icon-chevron-up"></i></a>
    
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ theme:js src='jquery-1.9.1.js' }}"><\/script>')</script>
    <script src="{{ theme:js src='bootstrap.min.js' }}"></script>
    <script src="{{ theme:js src='main.js' }}"></script>
    <script src="{{ theme:js src='jquery.flexslider-min.js' }}"></script>
    <script src="{{ theme:js src='rotate.js' }}"></script>
    <script src="{{ theme:js src='twitter-feed.js' }}"></script>
    <!--Twitter Handle - Insert your Twitter username below ex: (screen_name=USERNAME&include) -->
    <script src="http://api.twitter.com/1/statuses/user_timeline.json?screen_name=jmulkey&amp;include_rts=true&amp;count=4&amp;callback=twitterCallback2" type="text/javascript"></script>
   
    </body>
</html>